<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="fileName" value="Full Positions Report "/>
        <add key="fileTransferPath" value="FileTransferPath"/>
		<add key="fileCopyErrorLoggingPath" value="ErrorloggingPath"/>
		<add key="successLoggingPath" value="successLoggingPath"/>
		<add key="generalExceptionLoggingPath" value="GeneralExceptionLoggingPath"/>
	</appSettings>
</configuration>
